body, html {
    height: 100%;
  }
  
  video {
    /* The image used */
    /* background-image: url("Tasseltip.png");  */
    transform: rotate(-90deg);
    transform-origin: left top;
    
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    /* Full height */
    height: 100vh;
  
    /* Center and scale the image nicely */
    width:100vh;
    /* height:auto; */
  }