#home-container{
  /* The image used */
  /* background-image: url("/gaming2.jpeg"); */
  height:500vh;
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color: white;
  left:0;
  right:0;
}

